@font-face {
  font-weight: 400;
  font-family: 'Volkorn';
  src: url('../fonts/Vollkorn/static/Vollkorn-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Volkorn';
  src: url('../fonts/Vollkorn/static/Vollkorn-Bold.ttf');
}

@font-face {
  font-family: 'Butler Extra Bold';
  src: url('../fonts/butler/Butler/Butler_ExtraBold.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Volkorn Regular', sans-serif;
}

.flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.pr-3 {
  padding-right: 3px;
}

.pb-5 {
  padding-bottom: 5px;
}

.link {
  color: rgb(69, 118, 255);
}

.link:hover {
  color: rgb(0, 68, 255);
}

.danger {
  color: rgb(236, 73, 73);
}

/* Header */

header {
  background-color: rgb(69, 118, 255);
  color: rgb(218, 228, 255);
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 0px 8px 10px 3px rgb(144, 174, 255);
}

.logo {
  margin-left: 1rem;
  font-family: 'Butler Extra Bold', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-shadow: px;
}

.header-link {
  color: inherit;
  text-decoration: none;
}

.user-icon-container {
  margin-right: 10%;
}

/* auth */

.wrapper {
  width: 90%;
  max-width: 1170px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.auth-form-container {
  background-color: rgb(218, 228, 255);
  margin-top: 100px;
  width: 500px;
  height: auto;
  flex-direction: column;
  align-items: center;
  border: 0.7px solid rgb(69, 118, 255);
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgb(69, 118, 255);
}
.auth-form-container > h1 {
  color: rgb(69, 118, 255);
}

.authForm {
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  font-size: large;
}

.input:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgb(69, 118, 255);
}

.input::placeholder {
  color: rgb(69, 118, 255);
  font-size: 1;
  font-style: italic;
}

.error {
  color: red;
  font-style: italic;
  align-items: center;
  justify-content: flex-start;
}

.btn {
  padding: 7px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(69, 118, 255);
  color: rgb(218, 228, 255);
  font-size: larger;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  width: auto;
}

.btn:active {
  box-shadow: inset 0 0 30px rgb(0, 68, 255);
}

.btn-danger {
  background-color: rgb(207, 60, 60);
}
.btn-group {
  justify-content: center;
}

/* Profile */

.profile-container {
  margin-top: 30px;
  background-color: rgb(218, 228, 255);
  border: 0.7px solid rgb(69, 118, 255);
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgb(69, 118, 255);
  justify-content: start;
  flex-wrap: wrap;
}

.info-container {
  margin: 10px;
  width: 700px;
  flex-direction: column;
}

.info-container > div {
  padding: 10px 20px;
  margin: 30px;
  border-bottom: 1px solid rgb(158, 182, 250);
  border-radius: 3px;
}

.info-container > div > p {
  margin: 0;
}

.info-container > div > button {
  position: relative;
  bottom: 28px;
  margin: 0 10px;
  border: none;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
  color: rgb(122, 155, 248)
  
}

.info-block-header {
  position: relative;
  background-color: rgb(218, 228, 255);
  margin: 0;
  padding: 0;
  bottom: 30px;
  color: rgb(69, 118, 255);
}

.avatar-container {
  margin: 10px;
  width: max-content;
  flex-direction: column;
}

.avatar {
  width: 300px;
  height: 300px;
  margin: 3px;
  border-radius: 10px;
  background-color: #eceeef;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

/* Modal */

    /* свойства модального окна по умолчанию */
    .modal {
      position: fixed;
      /* фиксированное положение */
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      /* цвет фона */
      z-index: 1050;
      /* по умолчанию модальное окно прозрачно */
      -webkit-transition: opacity 400ms ease-in;
      -moz-transition: opacity 400ms ease-in;
      transition: opacity 400ms ease-in;
      /* анимация перехода */
      /* элемент невидим для событий мыши */
    }

    /* при отображении модального окно */
    .modal:target {
      opacity: 1;
      pointer-events: auto;
      overflow-y: auto;
    }

    /* ширина модального окна и его отступы от экрана */
    .modal-dialog {
      position: relative;
      width: auto;
      max-width: 100%;
      margin: 10px;
    }

    @media (min-width: 576px) {
      .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
      }
    }

    /* свойства для блока, содержащего контент модального окна */
    .modal-content {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: .3rem;
      outline: 0;
    }

    @media (min-width: 768px) {
      .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
      }
    }

    /* свойства для заголовка модального окна */
    .modal-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 15px;
      border-bottom: 1px solid #eceeef;
    }

    .modal-title {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.5;
      font-size: 1.25rem;
      font-weight: 500;
    }

    /* свойства для кнопки "Закрыть" */
    .close {
      float: right;
      font-family: sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .5;
      text-decoration: none;
    }

    /* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
    .close:focus,
    .close:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: .75;
    }

    /* свойства для блока, содержащего основное содержимое окна */
    .modal-body {
      position: relative;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 15px;
      overflow: auto;
    }